body 
{
 	font-size: 16px;
 	margin: 0 auto;
 	max-width: 1078px;
 	min-width: 1078px;

}
header input
	{
		float: right;
		margin-right: -200PX;
		position: relative; /* relative como se ponen estan estatica, al poner eso recalcula y se va para adelante por que el cuadro tiene por la caja prioridad*/
		margin-top: 15px;
	}
header nav ul li{
	color: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
	/*text-decoration-line: */
	border-bottom: 1px solid gray;
	padding-bottom: 3px;
}
#granthams
	{
	margin-top: 25px;
	margin-left: 25px;
	}
#paint
	{
		float: right;
	}
#